<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



    <nav th:fragment="navbar">
        <div class="navbar-title">
            <a href="/">Bookish</a>
        </div>
        <div class="navbar-item">
            <a href="/about">About</a>
        </div>
        <div class="navbar-item">
            <a href="/greeting">Greeting</a>
        </div>
        <div class="navbar-item">
            <a href="/library">Library</a>
        </div>
        <div class="navbar-item">
            <a href="/author">Author</a>
        </div>
        <div class="navbar-item">
            <a href="/admin">Admin</a>
        </div>
        <div class="navbar-item">
            <a href="/user">User</a>
        </div>
        <div class="navbar-item search-box">
            <form th:action="@{/library/search}" method="post">
                <input type="text" id="search" name="search"><br>
                <input type="submit" value="Search">
            </form>
        </div>
    </nav>



</html>
