.book-cover:hover {
    transform: scale(1.5);
}

.author-container {
    position: relative;
}

#inputAuthorID,
#suggestedAuthorName {
    position: absolute;
}

#suggestedAuthorName {
    z-index: 10;
    left: 15%;
    padding: .375rem .75rem;
    color: #70757a;
}

.book-splash-container {
    margin: 20px;
}

.info-qr-container {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

.book-info-container {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 1em 80px;
    width: 30%;
}

.qr-code {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.edit-book-container {
    margin: 20px;
}

.book-info-container td {
    padding: 5px 20px;
}

.info-field {
    color: #70757a;
}

.edit-book-container label {
    color: #70757a;
}